.MovieList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.MovieList > li {
    animation: fadein 1s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}